.input {
  font-size: 1rem;
  border-radius: 3px;
}
.input--hero {
  flex: 1 1 auto;
  padding: 0.5rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.form__input {
  background-color: transparent;
  border: 1px solid #e7e3fc;
  padding: 8px 12px;
  border-radius: 12px;
  font-size: 1rem;
  color: #fff;
}
.form__input::placeholder {
  color: #c1c2c4;
}

@media (min-width: 1440px) {
  .form__input {
    border-radius: 24px;
  }
}
