.hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 12px;
  width: 100%;
  max-height: 587px;
  aspect-ratio: 16/9;
  background: linear-gradient(to top, rgba(33, 33, 33, 1), rgba(33, 33, 33, 0)),
    url("/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0 1.5rem 2.5rem 1.5rem;
}
.hero__title {
  font-size: 1.5rem;
  line-height: 120%;
}
.hero__paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  line-height: 140%;
  margin-right: 3rem;
}
.hero__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero__age {
  padding: 4px;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 1.5rem;
}
.hero__sound {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hero {
    padding: 5rem;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__paragraph {
    font-size: 1.125rem;
    margin-right: 5rem;
  }
  .icon-info {
    width: 1rem;
  }
  .hero__age {
    font-size: 1rem;
  }
  .hero__sound {
    padding: 8px;
  }
  .sound-icon {
    width: 1rem;
  }
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__paragraph {
    font-size: 1.125rem;
    margin-right: 5rem;
  }
  .icon-info {
    width: 1rem;
  }
  .hero__age {
    font-size: 1rem;
  }
  .hero__sound {
    padding: 8px;
  }
  .sound-icon {
    width: 1rem;
  }
}
@media (min-width: 1024px) {
  .hero {
    gap: 20px;
  }
  .hero__title {
    font-size: 3rem;
  }
  .hero__paragraph {
    display: block;
    max-width: 645px;
    margin-bottom: 20px;
  }
  .hero__info {
    gap: 10px;
  }
  .hero__age {
    font-size: 1.125rem;
    padding: 10px;
  }
  .sound-icon {
    width: 1.5rem;
  }
  .hero__sound {
    padding: 10px;
  }
}
